{% load i18n %}
<ul class="flex items-center text-sm font-medium">
    {% if user.is_authenticated %}
        <li class="ml-8">
            <a class="py-10" href="{% url 'users:switch-hosting' %}">
                {% if request.session.is_hosting %}
                    {% trans 'Stop hosting' %}
                {% else %}
                    {% trans 'Switching to hosting' %}
                {% endif %}
            </a>
        </li>
        {% if request.session.is_hosting %}
            <li class="ml-8"><a class="py-10"href="{% url 'rooms:create' %}">{% trans 'Create Room' %}</li></a>
        {% endif %}
        <li class="ml-8"><a class="py-10" href="{{user.get_absolute_url}}">{% trans 'Profile' %}</a></li>
        <li class="ml-8"><a class="py-10" href="{% url 'users:logout' %}">{% trans 'Log out' %}</a></li>
    {% else %}
        <li class="ml-8"><a class="py-10"href="{% url 'users:login' %}">{% trans 'Log in' %}</a></li>
        <li class="ml-8"><a class="py-10"href="{% url 'users:signup' %}">{% trans 'Sign up' %}</a></li>
    {% endif %}
</ul>
