@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
    @apply text-center w-full font-medium py-3 rounded-md;
}

.btn-link {
    @apply text-center py-3 rounded-lg font-light text-lg w-full bg-red-500 text-white;
}

input,
textarea {
    @apply rounded-sm py-5 font-light text-lg w-full text-left border border-gray-600 px-5 focus:outline-none focus:border-pink-500;
}

textarea {
    resize: none;
    height: 100px;
}

select {
    @apply rounded-sm font-light text-lg w-full text-left border border-gray-600 px-5 focus:outline-none focus:border-pink-500;
    height: 50px;
}

form {
    .input {
        @apply mb-3 w-full;
        &.has_error {
            input {
                @apply text-gray-400 bg-pink-100 border-pink-600 focus:border-pink-600;
            }
        }
    }
}
@keyframes messageFadeIn {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    5% {
        opacity: 1;
        transform: translateY(50px);
    }
    95% {
        opacity: 1;
        transform: translateY(50px);
    }
    100% {
        opacity: 0;
        transform: translateY(-50px);
    }
}

.message {
    animation: messageFadeIn 5s ease-in-out forwards;
    &.error {
        @apply bg-red-600;
    }
    &.info {
        @apply bg-blue-500;
    }
    &.success {
        @apply bg-green-500;
    }
    &.warning {
        @apply bg-yellow-400;
    }
}